INDEXER_REQUEST_BULK_SIZE=3
INDEXER_SCRIPTS_DIR=./database
NOBLE_NODE_URL=https://ethereum-rpc.publicnode.com
NOBLE_NODE_WS_URL=wss://ethereum-rpc.publicnode.com
POSTGRES_DB=noble
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=randompsw
POSTGRES_USER=user
PROXY_NODE_BATCH_SIZE=5
NETWORK=noble-devnet