INDEXER_NAME=indexer_name
INDEXER_REQUEST_BULK_SIZE=15
INDEXER_SCRIPTS_DIR=./database
INDEXER_START_LEVEL=0
EVM_NODE_RPS=1
EVM_NODE_URL=https://ethereum-rpc.publicnode.com
EVM_NODE_WS_URL=wss://ethereum-rpc.publicnode.com
POSTGRES_DB=noble
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=randompsw
POSTGRES_USER=user
LOG_LEVEL=info
TOKEN_RESOLVER_NAME=token_metadata_resolver
TOKEN_RESOLVER_REQUEST_BULK_SIZE=10
TOKEN_RESOLVER_SYNC_PERIOD=3
CONTRACT_RESOLVER_NAME=contract_metadata_resolver
CONTRACT_RESOLVER_SYNC_PERIOD=30
PROXY_NODE_BATCH_SIZE=5
GENESIS_FILENAME=genesis-testnet.json
NETWORK=noble-devnet
CACHE_URL=redis://cache:6379
