{
    "schemes": [
        "https",
        "http"
    ],
    "swagger": "2.0",
    "info": {
        "description": "API for Noble blockchain indexer",
        "title": "Noble Indexer API",
        "termsOfService": "https://bakingbad.dev/terms",
        "contact": {
            "name": "API Support",
            "url": "https://github.com/baking-bad/noble-indexer",
            "email": "hello@bakingbad.dev"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/baking-bad/noble-indexer/blob/master/LICENSE"
        },
        "version": "1.0"
    },
    "host": "noble.dipdup.net",
    "basePath": "/v1",
    "paths": {
        "/addresses": {
            "get": {
                "description": "Returns a paginated list of addresses with their balances. Can be filtered to show only contract addresses.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "List addresses",
                "operationId": "list-address",
                "parameters": [
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Number of addresses to return (default: 10)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "description": "Number of addresses to skip (default: 0)",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "asc",
                        "description": "Sort order (default: asc)",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "id",
                            "value",
                            "last_height"
                        ],
                        "type": "string",
                        "description": "Field to sort by (default: id)",
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "If true, return only addresses that are smart contracts (default: false)",
                        "name": "only_contracts",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of addresses with their balances",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Address"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/addresses/{hash}": {
            "get": {
                "description": "Returns detailed information about a specific address including its balance, contract status, and activity history",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "address"
                ],
                "summary": "Get address by hash",
                "operationId": "get-address",
                "parameters": [
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "description": "Address hash in hexadecimal format (e.g., 0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb)",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Address information with balance",
                        "schema": {
                            "$ref": "#/definitions/responses.Address"
                        }
                    },
                    "204": {
                        "description": "Address not found"
                    },
                    "400": {
                        "description": "Invalid address hash format",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/blocks": {
            "get": {
                "description": "Returns a paginated list of blocks. Blocks can be sorted by height in ascending or descending order. Optionally includes statistics for each block.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "List blocks",
                "operationId": "list-block",
                "parameters": [
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Number of blocks to return (default: 10)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "description": "Number of blocks to skip (default: 0)",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "asc",
                        "description": "Sort order by height (default: asc)",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include statistics for each block (default: false)",
                        "name": "stats",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of blocks",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Block"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/blocks/count": {
            "get": {
                "description": "Returns the total number of blocks indexed in the blockchain, including the genesis block",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get total block count",
                "operationId": "get-blocks-count",
                "responses": {
                    "200": {
                        "description": "Total number of blocks (including genesis)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/blocks/{height}": {
            "get": {
                "description": "Returns detailed information about a specific block at the given height. Optionally includes statistical data such as transaction count, gas usage, and fees.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get block by height",
                "operationId": "get-block",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 12345,
                        "description": "Block height (block number)",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include block statistics (transaction count, gas usage, fees) (default: false)",
                        "name": "stats",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Block information",
                        "schema": {
                            "$ref": "#/definitions/responses.Block"
                        }
                    },
                    "204": {
                        "description": "Block not found"
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/blocks/{height}/stats": {
            "get": {
                "description": "Returns statistical data for a specific block including transaction count, gas used, gas limit, base fee, and total fees",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "Get block statistics",
                "operationId": "get-block-stats",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 12345,
                        "description": "Block height (block number)",
                        "name": "height",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Block statistics",
                        "schema": {
                            "$ref": "#/definitions/responses.BlockStats"
                        }
                    },
                    "400": {
                        "description": "Invalid block height",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/blocks/{height}/transactions": {
            "get": {
                "description": "Returns a paginated list of all transactions included in the specified block",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "block"
                ],
                "summary": "List transactions in block",
                "operationId": "list-block-transactions",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 12345,
                        "description": "Block height (block number)",
                        "name": "height",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Number of transactions to return (default: 10)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "description": "Number of transactions to skip (default: 0)",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "asc",
                        "description": "Sort order by index (default: asc)",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of transactions in the block",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Transaction"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid block height",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/contracts": {
            "get": {
                "description": "Returns a paginated list of deployed smart contracts. Can be filtered by verification status or deployment transaction.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "contract"
                ],
                "summary": "List smart contracts",
                "operationId": "list-contract",
                "parameters": [
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Number of contracts to return (default: 10)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "description": "Number of contracts to skip (default: 0)",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "asc",
                        "description": "Sort order (default: asc)",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "id",
                            "height"
                        ],
                        "type": "string",
                        "description": "Field to sort by (default: id)",
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Filter to show only verified contracts (default: false)",
                        "name": "is_verified",
                        "in": "query"
                    },
                    {
                        "maxLength": 66,
                        "minLength": 66,
                        "type": "string",
                        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
                        "description": "Filter by deployment transaction hash (hexadecimal with 0x prefix)",
                        "name": "tx_hash",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "description": "Filter by deployer address (hexadecimal with 0x prefix)",
                        "name": "deployer",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of smart contracts",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Contract"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/contracts/{hash}": {
            "get": {
                "description": "Returns detailed information about a specific smart contract including deployment info, verification status, and metadata",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "contract"
                ],
                "summary": "Get contract by address",
                "operationId": "get-contract",
                "parameters": [
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "description": "Contract address in hexadecimal format (e.g., 0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb)",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contract information",
                        "schema": {
                            "$ref": "#/definitions/responses.Contract"
                        }
                    },
                    "204": {
                        "description": "Contract not found"
                    },
                    "400": {
                        "description": "Invalid contract address format",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/contracts/{hash}/sources": {
            "get": {
                "description": "Returns the verified source code files for a specific smart contract. Only available for verified contracts.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "contract"
                ],
                "summary": "Get contract source code",
                "operationId": "get-contract-sources",
                "parameters": [
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "description": "Contract address in hexadecimal format (e.g., 0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb)",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Number of source files to return (default: 10)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "description": "Number of source files to skip (default: 0)",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of source code files",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Source"
                            }
                        }
                    },
                    "204": {
                        "description": "Contract not found or not verified"
                    },
                    "400": {
                        "description": "Invalid contract address format",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/enums": {
            "get": {
                "description": "Returns all possible enumeration values used in the API including transaction types, transaction statuses, trace types, token types, transfer types, proxy contract types, and proxy contract statuses. Use these values for filtering in other API endpoints.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "general"
                ],
                "summary": "Get enumeration values",
                "operationId": "get-enums",
                "responses": {
                    "200": {
                        "description": "All enumeration values available in the API",
                        "schema": {
                            "$ref": "#/definitions/responses.Enums"
                        }
                    }
                }
            }
        },
        "/head": {
            "get": {
                "description": "Returns the current state of the blockchain indexer including the latest indexed block height and timestamp. Useful for checking indexer synchronization status.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "general"
                ],
                "summary": "Get indexer state",
                "operationId": "head",
                "responses": {
                    "200": {
                        "description": "Current indexer state",
                        "schema": {
                            "$ref": "#/definitions/responses.State"
                        }
                    },
                    "204": {
                        "description": "State not available"
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/logs": {
            "get": {
                "description": "Returns a paginated list of event logs emitted by smart contracts. Can be filtered by transaction, address, block height, or time range.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transactions"
                ],
                "summary": "List event logs",
                "operationId": "list-transaction-log",
                "parameters": [
                    {
                        "maxLength": 66,
                        "minLength": 66,
                        "type": "string",
                        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
                        "description": "Filter by transaction hash (hexadecimal with 0x prefix)",
                        "name": "tx_hash",
                        "in": "query"
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Number of logs to return (default: 10)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "description": "Number of logs to skip (default: 0)",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by contract address that emitted the log",
                        "name": "address",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 12345,
                        "description": "Filter by block height",
                        "name": "height",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 1692892095,
                        "description": "Filter by timestamp from (Unix timestamp)",
                        "name": "time_from",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 1692892095,
                        "description": "Filter by timestamp to (Unix timestamp)",
                        "name": "time_to",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "desc",
                        "description": "Sort order by timestamp (default: desc)",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of event logs",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Log"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/proxy": {
            "get": {
                "description": "Returns a paginated list of proxy contracts. Proxy contracts are smart contracts that delegate calls to implementation contracts. Can be filtered by type, status, implementation address, or deployment height.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "proxy-contracts"
                ],
                "summary": "List proxy contracts",
                "operationId": "list-proxy-contracts",
                "parameters": [
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Number of proxy contracts to return (default: 10)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "description": "Number of proxy contracts to skip (default: 0)",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "desc",
                        "description": "Sort order by deployment height (default: desc)",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 12345,
                        "description": "Filter by deployment block height",
                        "name": "height",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by implementation contract address",
                        "name": "implementation",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "EIP1167",
                            "EIP7760",
                            "EIP7702",
                            "EIP1967",
                            "custom",
                            "clone_with_immutable_args"
                        ],
                        "type": "string",
                        "description": "Filter by proxy pattern (comma-separated list)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "new",
                            "resolved",
                            "error"
                        ],
                        "type": "string",
                        "description": "Filter by resolution status: new (just detected), resolved (implementation found), error (failed to resolve) (comma-separated)",
                        "name": "status",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of proxy contracts",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.ProxyContract"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/search": {
            "get": {
                "description": "Performs a universal search across the blockchain. Supports searching by: block height (numeric), transaction hash (0x prefixed hex), address (0x prefixed hex), or token name/symbol (text). Returns matching blocks, transactions, addresses, and tokens.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "search"
                ],
                "summary": "Universal search",
                "operationId": "search",
                "parameters": [
                    {
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Search query: block height (e.g., 12345), transaction/block hash (e.g., 0x1234...), address (e.g., 0x742d...), or token name/symbol (e.g., USDC)",
                        "name": "query",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "example": 10,
                        "description": "Maximum number of results to return (default: 10, max: 100)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "example": 0,
                        "description": "Number of results to skip for pagination (default: 0)",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Search results (can include blocks, transactions, addresses, tokens)",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.SearchItem"
                            }
                        }
                    },
                    "204": {
                        "description": "No results found"
                    },
                    "400": {
                        "description": "Invalid search query",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/stats/block_time": {
            "get": {
                "description": "Returns the average block time over a specified period. Useful for analyzing blockchain performance and trends.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stats"
                ],
                "summary": "Get average block time",
                "operationId": "avg-block-time",
                "responses": {
                    "200": {
                        "description": "Average block time response",
                        "schema": {
                            "type": "float"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/token_balances": {
            "get": {
                "description": "Returns a paginated list of token balances showing how many tokens each address holds. Can be filtered by address, contract, or token ID. Useful for finding token holders.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "token"
                ],
                "summary": "List token balances",
                "operationId": "list-token-balances",
                "parameters": [
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Number of balances to return (default: 10)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "description": "Number of balances to skip (default: 0)",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "asc",
                        "description": "Sort order (default: asc)",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by holder address",
                        "name": "address",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by token contract address",
                        "name": "contract",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0",
                        "description": "Filter by token ID",
                        "name": "token_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of token balances",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.TokenBalance"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/tokens": {
            "get": {
                "description": "Returns a paginated list of tokens (ERC20, ERC721, ERC1155). Can be filtered by token type or issuing contract address.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "token"
                ],
                "summary": "List tokens",
                "operationId": "list-tokens",
                "parameters": [
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by contract address that issued the token",
                        "name": "contract",
                        "in": "query"
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Number of tokens to return (default: 10)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "description": "Number of tokens to skip (default: 0)",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "ERC20",
                            "ERC721",
                            "ERC1155"
                        ],
                        "type": "string",
                        "description": "Filter by token standard (comma-separated list)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "desc",
                        "description": "Sort order by creation time (default: desc)",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of tokens",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Token"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/tokens/{contract}/{token_id}": {
            "get": {
                "description": "Returns detailed information about a specific token including metadata, supply, and holder information. For ERC20 tokens use token_id=0, for ERC721/ERC1155 use the specific token ID.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "token"
                ],
                "summary": "Get token by contract and ID",
                "operationId": "get-token",
                "parameters": [
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Token contract address",
                        "name": "contract",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "0",
                        "description": "Token ID (use 0 for ERC20)",
                        "name": "token_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Token information",
                        "schema": {
                            "$ref": "#/definitions/responses.Token"
                        }
                    },
                    "204": {
                        "description": "Token not found"
                    },
                    "400": {
                        "description": "Invalid contract address or token ID",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/traces": {
            "get": {
                "description": "Returns a paginated list of execution traces showing internal calls, contract creations, and other EVM operations. Traces provide detailed insight into transaction execution. Can be filtered by transaction, addresses, contract, block height, or trace type.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transactions"
                ],
                "summary": "List execution traces",
                "operationId": "list-transaction-traces",
                "parameters": [
                    {
                        "maxLength": 66,
                        "minLength": 66,
                        "type": "string",
                        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
                        "description": "Filter by transaction hash (hexadecimal with 0x prefix)",
                        "name": "tx_hash",
                        "in": "query"
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Number of traces to return (default: 10)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "description": "Number of traces to skip (default: 0)",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by initiator address",
                        "name": "address_from",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by target address",
                        "name": "address_to",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by address (from or to)",
                        "name": "address",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 12345,
                        "description": "Filter by block height",
                        "name": "height",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "call",
                            "delegatecall",
                            "staticcall",
                            "create",
                            "create2",
                            "selfdestruct",
                            "reward",
                            "suicide"
                        ],
                        "type": "string",
                        "description": "Filter by trace type (comma-separated list)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "desc",
                        "description": "Sort order (default: desc)",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of execution traces",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Trace"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/transfers": {
            "get": {
                "description": "Returns a paginated list of token transfer events (mint, burn, transfer). Can be filtered by transfer type, addresses, contract, token ID, transaction, block height, or time range.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "token"
                ],
                "summary": "List token transfers",
                "operationId": "list-token-transfers",
                "parameters": [
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Number of transfers to return (default: 10)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "description": "Number of transfers to skip (default: 0)",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "asc",
                        "description": "Sort order by timestamp (default: asc)",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "example": 12345,
                        "description": "Filter by block height",
                        "name": "height",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 1692892095,
                        "description": "Filter by timestamp from (Unix timestamp)",
                        "name": "time_from",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 1692892095,
                        "description": "Filter by timestamp to (Unix timestamp)",
                        "name": "time_to",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "burn",
                            "mint",
                            "transfer",
                            "unknown"
                        ],
                        "type": "string",
                        "description": "Filter by transfer type (comma-separated list)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "maxLength": 66,
                        "minLength": 66,
                        "type": "string",
                        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
                        "description": "Filter by transaction hash (hexadecimal with 0x prefix)",
                        "name": "tx_hash",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by sender address",
                        "name": "address_from",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by recipient address",
                        "name": "address_to",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by token contract address",
                        "name": "contract",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0",
                        "description": "Filter by token ID",
                        "name": "token_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of token transfers",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Transfer"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/transfers/{id}": {
            "get": {
                "description": "Returns detailed information about a specific token transfer event by its internal database ID",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "token"
                ],
                "summary": "Get token transfer by ID",
                "operationId": "get-token-transfer",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 12345,
                        "description": "Transfer internal ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transfer information",
                        "schema": {
                            "$ref": "#/definitions/responses.Transfer"
                        }
                    },
                    "204": {
                        "description": "Transfer not found"
                    },
                    "400": {
                        "description": "Invalid transfer ID",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/txs": {
            "get": {
                "description": "Returns a paginated list of blockchain transactions. Can be filtered by addresses, contract, block height, transaction type, status, or time range. Supports various transaction types including legacy, EIP-1559 (dynamic fee), EIP-4844 (blob), and EIP-7702 (set code).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transactions"
                ],
                "summary": "List transactions",
                "operationId": "list-transactions",
                "parameters": [
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Number of transactions to return (default: 10)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "description": "Number of transactions to skip (default: 0)",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by sender address",
                        "name": "address_from",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by recipient address",
                        "name": "address_to",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                        "description": "Filter by called contract address",
                        "name": "contract",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 12345,
                        "description": "Filter by block height",
                        "name": "height",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "TxTypeUnknown",
                            "TxTypeLegacy",
                            "TxTypeDynamicFee",
                            "TxTypeBlob",
                            "TxTypeSetCode"
                        ],
                        "type": "string",
                        "description": "Filter by transaction type (comma-separated list)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "TxStatusSuccess",
                            "TxStatusRevert"
                        ],
                        "type": "string",
                        "description": "Filter by execution status (comma-separated list)",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 1692892095,
                        "description": "Filter by timestamp from (Unix timestamp)",
                        "name": "time_from",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 1692892095,
                        "description": "Filter by timestamp to (Unix timestamp)",
                        "name": "time_to",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "desc",
                        "description": "Sort order by timestamp (default: desc)",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of transactions",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.Transaction"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/txs/{hash}": {
            "get": {
                "description": "Returns detailed information about a specific transaction including status, gas used, value transferred, and associated traces",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "transactions"
                ],
                "summary": "Get transaction by hash",
                "operationId": "get-transaction",
                "parameters": [
                    {
                        "maxLength": 66,
                        "minLength": 66,
                        "type": "string",
                        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
                        "description": "Transaction hash in hexadecimal with 0x prefix",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transaction information",
                        "schema": {
                            "$ref": "#/definitions/responses.Transaction"
                        }
                    },
                    "204": {
                        "description": "Transaction not found"
                    },
                    "400": {
                        "description": "Invalid transaction hash format",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/user_ops": {
            "get": {
                "description": "Returns a paginated list of ERC-4337 user operations. Can be filtered by transaction, block height, time range, bundler, paymaster, or success status.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user_ops"
                ],
                "summary": "List ERC-4337 user operations",
                "operationId": "list-user-ops",
                "parameters": [
                    {
                        "maxLength": 66,
                        "minLength": 66,
                        "type": "string",
                        "description": "Filter by transaction hash (hexadecimal with 0x prefix)",
                        "name": "tx",
                        "in": "query"
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 10,
                        "description": "Number of user operations to return (default: 10)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "default": 0,
                        "description": "Number of user operations to skip (default: 0)",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "description": "Filter by block height",
                        "name": "height",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "description": "Filter by bundler address",
                        "name": "bundler",
                        "in": "query"
                    },
                    {
                        "maxLength": 42,
                        "minLength": 42,
                        "type": "string",
                        "description": "Filter by paymaster address",
                        "name": "paymaster",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by success status",
                        "name": "success",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Filter by timestamp from (Unix timestamp)",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Filter by timestamp to (Unix timestamp)",
                        "name": "to",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "desc",
                        "description": "Sort order by timestamp (default: desc)",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of user operations",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.UserOp"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/user_ops/{hash}": {
            "get": {
                "description": "Returns detailed information about a specific ERC-4337 user operation",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user_ops"
                ],
                "summary": "Get user operation by hash",
                "operationId": "get-user-op",
                "parameters": [
                    {
                        "maxLength": 66,
                        "minLength": 66,
                        "type": "string",
                        "description": "User operation hash in hexadecimal with 0x prefix",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User operation information",
                        "schema": {
                            "$ref": "#/definitions/responses.UserOp"
                        }
                    },
                    "204": {
                        "description": "User operation not found"
                    },
                    "400": {
                        "description": "Invalid user operation hash format",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/handler.Error"
                        }
                    }
                }
            }
        },
        "/ws": {
            "get": {
                "description": "Establishes a WebSocket connection for real-time updates. Clients can subscribe to channels to receive notifications about new blocks and head state changes.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "websocket"
                ],
                "summary": "Websocket API",
                "operationId": "websocket",
                "responses": {},
                "x-internal": true
            }
        }
    },
    "definitions": {
        "handler.Error": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        },
        "responses.Address": {
            "description": "Noble address information",
            "type": "object",
            "properties": {
                "balance": {
                    "$ref": "#/definitions/responses.Balance"
                },
                "deployed_contracts": {
                    "type": "integer",
                    "example": 7
                },
                "first_height": {
                    "type": "integer",
                    "example": 100
                },
                "hash": {
                    "type": "string",
                    "example": "0xd90d69b7cf347b5bfe0719baf7eef310c085e46b"
                },
                "id": {
                    "type": "integer",
                    "example": 321
                },
                "interactions": {
                    "type": "integer",
                    "example": 890
                },
                "is_contract": {
                    "type": "boolean",
                    "example": false
                },
                "last_height": {
                    "type": "integer",
                    "example": 100
                },
                "txs_count": {
                    "type": "integer",
                    "example": 23456
                }
            }
        },
        "responses.Balance": {
            "description": "Balance of address information",
            "type": "object",
            "properties": {
                "value": {
                    "type": "string",
                    "example": "10000000000"
                }
            }
        },
        "responses.Block": {
            "description": "Noble block information",
            "type": "object",
            "properties": {
                "difficulty": {
                    "type": "string",
                    "example": "0x0"
                },
                "extra_data": {
                    "type": "string",
                    "example": "0x726574682f76312e372e302f6c696e7578"
                },
                "gas_limit": {
                    "type": "integer",
                    "example": 1000000
                },
                "gas_used": {
                    "type": "integer",
                    "example": 500000
                },
                "hash": {
                    "type": "string",
                    "example": "0x0764012270afacd3b101bcfadaaa9fc3190d04ed90ff22c0ee59781e54858a7d"
                },
                "height": {
                    "type": "integer",
                    "example": 100
                },
                "logs_bloom": {
                    "type": "string",
                    "example": "0x0000000000000000000020000000000"
                },
                "miner": {
                    "type": "string",
                    "example": "0x0000000000000000000000000000000000000000"
                },
                "mix_hash": {
                    "type": "string",
                    "example": "0x000000000000000000000000000000000000000000000000000000000033a87e"
                },
                "nonce": {
                    "type": "integer",
                    "example": 0
                },
                "parent_hash": {
                    "type": "string",
                    "example": "0x0764012270afacd3b101bcfadaaa9fc3190d04ed90ff22c0ee59781e54858a7d"
                },
                "receipts_root": {
                    "type": "string",
                    "example": "0x24e9aae3033f9ff809675831eca331b701440009592a40a6d788756f3be983a2"
                },
                "sha3_uncles_hash": {
                    "type": "string",
                    "example": "0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347"
                },
                "size": {
                    "type": "integer",
                    "example": 0
                },
                "state_root": {
                    "type": "string",
                    "example": "0x9b6e76e8263c5060b61e396c65baf15dd187386d5607250be0dcc5308f0b49ef"
                },
                "stats": {
                    "$ref": "#/definitions/responses.BlockStats"
                },
                "time": {
                    "type": "string",
                    "example": "2023-07-04T03:10:57+00:00"
                },
                "transactions_root_hash": {
                    "type": "string",
                    "example": "0x0764012270afacd3b101bcfadaaa9fc3190d04ed90ff22c0ee59781e54858a7d"
                }
            }
        },
        "responses.BlockStats": {
            "description": "Block statistics information",
            "type": "object",
            "properties": {
                "block_time": {
                    "type": "integer",
                    "example": 1000
                },
                "height": {
                    "type": "integer",
                    "example": 100
                },
                "time": {
                    "type": "string",
                    "example": "2023-07-04T03:10:57+00:00"
                },
                "tx_count": {
                    "type": "integer",
                    "example": 12
                }
            }
        },
        "responses.Contract": {
            "description": "Noble contract information",
            "type": "object",
            "properties": {
                "abi": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "address": {
                    "type": "string",
                    "example": "0x0000000000000000000000000000000000000001"
                },
                "code": {
                    "type": "string",
                    "example": "0x01234567890123456789012345678901234567890123456789"
                },
                "compiler_version": {
                    "type": "string",
                    "example": "0.1.1"
                },
                "deployer": {
                    "type": "string",
                    "example": "0x0000000000000000000000000000000000000003"
                },
                "error": {
                    "type": "string",
                    "example": "Error string"
                },
                "id": {
                    "type": "integer",
                    "example": 321
                },
                "implementation": {
                    "type": "string",
                    "example": "0x0000000000000000000000000000000000000001"
                },
                "language": {
                    "type": "string",
                    "example": "Solidity"
                },
                "metadata_link": {
                    "type": "string",
                    "example": "https://ipfs.io/ipfs/QmWYtNwHxXxzhrWj7TUcB5tC3m1bSGFXAtEqwegMbk1sjt"
                },
                "optimizer_enabled": {
                    "type": "boolean",
                    "example": true
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "tx_hash": {
                    "type": "string",
                    "example": "0x0000000000000000000000000000000000000002"
                },
                "verified": {
                    "type": "boolean",
                    "example": false
                }
            }
        },
        "responses.Enums": {
            "description": "Available enum values for various entity types",
            "type": "object",
            "properties": {
                "token_type": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "ERC20",
                        "ERC721",
                        "ERC1155"
                    ]
                },
                "trace_type": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "call",
                        "create"
                    ]
                },
                "transfer_type": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "transfer",
                        "mint",
                        "burn"
                    ]
                },
                "tx_status": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "success",
                        "revert"
                    ]
                },
                "tx_type": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "legacy",
                        "dynamic_fee"
                    ]
                }
            }
        },
        "responses.Log": {
            "description": "Token transfer information",
            "type": "object",
            "properties": {
                "address": {
                    "type": "string",
                    "example": "0x0000000000000000000000000000000000000001"
                },
                "data": {
                    "type": "string",
                    "example": "0xFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF"
                },
                "height": {
                    "type": "integer",
                    "example": 100
                },
                "id": {
                    "type": "integer",
                    "example": 0
                },
                "index": {
                    "type": "integer",
                    "example": 1
                },
                "name": {
                    "type": "string",
                    "example": "0xff64905f73a67fb594e0f940a8075a860db489ad991e032f48c81123eb52d60b"
                },
                "time": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01T01:01:01+00:00"
                },
                "topics": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "tx_hash": {
                    "type": "string",
                    "example": "0x0764012270afacd3b101bcfadaaa9fc3190d04ed90ff22c0ee59781e54858a7d"
                }
            }
        },
        "responses.ProxyContract": {
            "description": "Proxy contract information",
            "type": "object",
            "properties": {
                "contract": {
                    "type": "string",
                    "example": "0x0000000000000000000000000000000000000000"
                },
                "height": {
                    "type": "integer",
                    "example": 100
                },
                "implementation": {
                    "type": "string",
                    "example": "0x0000000000000000000000000000000000000001"
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "new",
                        "resolved",
                        "error"
                    ],
                    "example": "resolved"
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "EIP1167",
                        "EIP7760",
                        "EIP7702",
                        "EIP1967",
                        "custom",
                        "clone_with_immutable_args"
                    ],
                    "example": "EIP1967"
                }
            }
        },
        "responses.SearchItem": {
            "description": "Search result item",
            "type": "object",
            "properties": {
                "result": {
                    "description": "Search result. Can be one of folowwing types: Address, Block, Tx, Token",
                    "type": "object"
                },
                "type": {
                    "description": "Result type which is in the result. Can be 'address', 'block', 'tx', 'token'",
                    "type": "string",
                    "enum": [
                        "address",
                        "block",
                        "tx",
                        "token"
                    ],
                    "example": "address"
                }
            }
        },
        "responses.Source": {
            "description": "Contract source information",
            "type": "object",
            "properties": {
                "content": {
                    "type": "string",
                    "example": "Source content"
                },
                "id": {
                    "type": "integer",
                    "example": 321
                },
                "license": {
                    "type": "string",
                    "example": "License"
                },
                "name": {
                    "type": "string",
                    "example": "Contract source name"
                },
                "urls": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "responses.State": {
            "description": "Blockchain indexer state information",
            "type": "object",
            "properties": {
                "hash": {
                    "type": "string",
                    "format": "string",
                    "example": "0x85480d3bbf5d757b63375ab9da566e7c330e2b6b9abe965fc7f41542d3edaeaa"
                },
                "id": {
                    "type": "integer",
                    "format": "int64",
                    "example": 321
                },
                "last_height": {
                    "type": "integer",
                    "format": "int64",
                    "example": 100
                },
                "last_time": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-07-04T03:10:57+00:00"
                },
                "name": {
                    "type": "string",
                    "format": "string",
                    "example": "indexer"
                },
                "total_accounts": {
                    "type": "integer",
                    "format": "int64",
                    "example": 43
                },
                "total_contracts": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1488
                },
                "total_tokens": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1742
                },
                "total_tx": {
                    "type": "integer",
                    "format": "int64",
                    "example": 23456
                }
            }
        },
        "responses.Token": {
            "description": "Noble token information",
            "type": "object",
            "properties": {
                "contract": {
                    "type": "string",
                    "example": "0xdAC17F958D2ee523a2206206994597C13D831ec7"
                },
                "decimals": {
                    "type": "integer",
                    "example": 6
                },
                "id": {
                    "type": "integer",
                    "example": 0
                },
                "logo": {
                    "type": "string",
                    "example": "http://site.com/image.png"
                },
                "metadata": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "name": {
                    "type": "string",
                    "example": "Tether USD"
                },
                "supply": {
                    "type": "string",
                    "example": "123456789"
                },
                "symbol": {
                    "type": "string",
                    "example": "USD"
                },
                "token_id": {
                    "type": "string",
                    "example": "0"
                },
                "transfers_count": {
                    "type": "integer",
                    "example": 123
                },
                "type": {
                    "type": "string",
                    "example": "ERC20"
                }
            }
        },
        "responses.TokenBalance": {
            "description": "Token balance information",
            "type": "object",
            "properties": {
                "address": {
                    "type": "string",
                    "example": "0x0000000000000000000000000000000000000001"
                },
                "token": {
                    "$ref": "#/definitions/responses.Token"
                },
                "value": {
                    "type": "string",
                    "example": "123456789"
                }
            }
        },
        "responses.Trace": {
            "description": "Transaction execution trace information",
            "type": "object",
            "properties": {
                "amount": {
                    "type": "string",
                    "example": "123456789123456789"
                },
                "contract": {
                    "type": "string",
                    "example": "0x0000000000000000000000000000000000000002"
                },
                "creation_method": {
                    "type": "string",
                    "example": "create"
                },
                "from_address": {
                    "type": "string",
                    "example": "0x0000000000000000000000000000000000000001"
                },
                "gas_limit": {
                    "type": "string",
                    "example": "2100"
                },
                "gas_used": {
                    "type": "string",
                    "example": "21000"
                },
                "height": {
                    "type": "integer",
                    "example": 100
                },
                "init_hash": {
                    "type": "string",
                    "example": "0x6060604052341561000f57600080fd5b"
                },
                "input": {
                    "type": "string",
                    "example": "hex input data"
                },
                "output": {
                    "type": "string",
                    "example": "0x0"
                },
                "subtraces": {
                    "type": "integer",
                    "example": 0
                },
                "time": {
                    "type": "string",
                    "example": "2023-07-04T03:10:57+00:00"
                },
                "to_address": {
                    "type": "string",
                    "example": "0x123456789abcdef123456789abcdef123456789abc"
                },
                "trace_address": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    },
                    "example": [
                        1,
                        2,
                        3
                    ]
                },
                "tx_hash": {
                    "type": "string",
                    "example": "0x0764012270afacd3b101bcfadaaa9fc3190d04ed90ff22"
                },
                "tx_position": {
                    "type": "integer",
                    "example": 123456789
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "call",
                        "delegatecall",
                        "staticcall",
                        "create",
                        "create2",
                        "selfdestruct",
                        "reward"
                    ],
                    "example": "call"
                }
            }
        },
        "responses.Transaction": {
            "description": "Noble transaction information",
            "type": "object",
            "properties": {
                "amount": {
                    "type": "integer",
                    "example": 1000000000000000000
                },
                "cumulative_gas_used": {
                    "type": "integer",
                    "example": 21000
                },
                "effective_gas_price": {
                    "type": "integer",
                    "example": 1000000
                },
                "fee": {
                    "type": "string",
                    "example": "21000000000"
                },
                "from_address": {
                    "type": "string",
                    "example": "0x0000000000000000000000000000000000000000"
                },
                "gas": {
                    "type": "integer",
                    "example": 21000
                },
                "gas_price": {
                    "type": "integer",
                    "example": 1000000
                },
                "gas_used": {
                    "type": "integer",
                    "example": 21000
                },
                "hash": {
                    "type": "string",
                    "example": "0x0764012270afacd3b101bcfadaaa9fc3190d04ed90ff22c0ee59781e54858a7d"
                },
[...]
