version: 0.0.1

log_level: ${LOG_LEVEL:-info}

indexer:
  name: ${INDEXER_NAME:-noble_indexer}
  block_period: ${INDEXER_BLOCK_PERIOD:-1} # seconds
  scripts_dir: ${INDEXER_SCRIPTS_DIR:-./database}
  request_bulk_size: ${INDEXER_REQUEST_BULK_SIZE:-10}

database:
  kind: postgres
  host: ${POSTGRES_HOST:-db}
  port: ${POSTGRES_PORT:-5432}
  user: ${POSTGRES_USER}
  password: ${POSTGRES_PASSWORD}
  database: ${POSTGRES_DB:-noble}

datasources:
  node_rpc:
    kind: noble_node_rpc
    url: ${NOBLE_NODE_URL}
    rps: ${NOBLE_NODE_RPS:-5}
    timeout: ${NOBLE_NODE_TIMEOUT:-10}
    credentials:
      api_key:
        header: apikey
        key: ${NOBLE_API_KEY}
  node_ws:
    kind: noble_node_ws
    url: ${NOBLE_NODE_WS_URL}
    credentials:
      api_key:
        header: apikey
        key: ${NOBLE_API_KEY}

profiler:
  server: ${PROFILER_SERVER}
  project: noble
