version: 0.0.1

log_level: ${LOG_LEVEL:-info}

network: ${NETWORK:-noble-devnet}

indexer:
  name: ${INDEXER_NAME:-noble_indexer}
  block_period: ${INDEXER_BLOCK_PERIOD:-1} # seconds
  scripts_dir: ${INDEXER_SCRIPTS_DIR:-./database}
  assets_dir: ${INDEXER_ASSETS_DIR:-./assets}
  genesis_filename: ${GENESIS_FILENAME:-genesis.json}
  request_bulk_size: ${INDEXER_REQUEST_BULK_SIZE:-10}
  start_level: ${INDEXER_START_LEVEL:-0}
  proxy_contracts:
    threads: ${PROXY_THREADS:-5}
    sync_period_seconds: ${PROXY_SYNC_PERIOD_SECONDS:-10}
    node_batch_size: ${PROXY_NODE_BATCH_SIZE:-20}
    max_resolving_attempts: ${PROXY_MAX_RESOLVING_ATTEMPTS:-10}

database:
  kind: postgres
  port: ${POSTGRES_PORT:-5432}
  host: ${POSTGRES_HOST:-db}
  user: ${POSTGRES_USER}
  password: ${POSTGRES_PASSWORD}
  database: ${POSTGRES_DB:-noble}

contract_resolver:
  name: ${CONTRACT_RESOLVER_NAME:-contract_metadata}
  sync_period: ${CONTRACT_RESOLVER_SYNC_PERIOD:-10} # seconds
  metadata_gateways: ${CONTRACT_RESOLVER_GATEWAYS:-https://ipfs.io} # delimiter - ';'
  request_bulk_size: ${CONTRACT_RESOLVER_REQUEST_BULK_SIZE:-5}
  retry_count: ${CONTRACT_RESOLVER_RETRY_COUNT:-7}
  retry_delay: ${CONTRACT_RESOLVER_RETRY_DELAY:-10} # minutes

token_resolver:
  name: ${TOKEN_RESOLVER_NAME:-token_metadata}
  sync_period: ${TOKEN_RESOLVER_SYNC_PERIOD:-5} # seconds
  metadata_gateways: ${TOKEN_RESOLVER_GATEWAYS:-https://ipfs.io} # delimiter - ';' 
  request_bulk_size: ${TOKEN_RESOLVER_REQUEST_BULK_SIZE:-10}
  retry_count: ${TOKEN_RESOLVER_RETRY_COUNT:-7}
  retry_delay: ${TOKEN_RESOLVER_RETRY_DELAY:-30} # minutes

datasources:
  node_rpc:
    kind: noble_node_rpc
    url: ${NOBLE_NODE_URL}
    rps: ${NOBLE_NODE_RPS:-5}
    timeout: ${NOBLE_NODE_TIMEOUT:-10}
    credentials:
      api_key:
        header: apikey
        key: ${NOBLE_API_KEY}
  node_ws:
    kind: noble_node_ws
    url: ${NOBLE_NODE_WS_URL}
    credentials:
      api_key:
        header: apikey
        key: ${NOBLE_API_KEY}

api:
  bind: ${API_HOST:-0.0.0.0}:${API_PORT:-9876}
  rate_limit: ${API_RATE_LIMIT:-0}
  request_timeout: ${API_REQUEST_TIMEOUT:-30}
  websocket: ${API_WEBSOCKET_ENABLED:-true}
  websocket_clients_per_ip: ${API_WEBSOCKET_CLIENTS_PER_IP:-10}

profiler:
  server: ${PROFILER_SERVER}
  project: noble
